*{
    margin: 0;
}
.rosa-piggy{
    background-color:#ffc6dc ;
    color: #c94b4b;
    
}
.verdonho{
    background-color: #bcb24d;
    color:#6b7f46 ;

}
.laranja{
    color: #e56e26;
}

.laranja-sim{
    background-color: #e7894f;
    color: #fff6ea;
    display: grid;
    grid-template-columns: 30% 70%;
}


.frutas{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.capa{
display: grid;
    grid-template-columns: 55% 45%;

}
header{
display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    justify-items: center;

}
